@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{ var myMessage = "Hello World"; }
<form method="post">
    <input type="text" name="txtname" />
    <input type="submit" />
</form>