@page
@model TrinitasHunde.Pages.Admin.MapModel
@{
    ViewData["Title"] = "Map";
}

<h2>Map</h2>

<!-- Container for google maps -->
<div id="mapContainer" style="width:100%;height:400px;"></div>

@section Scripts {
    <!-- Import google maps (add api key here) -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Initialize google maps -->
    <script type="text/javascript">
        // Initialize on document ready
        $(document).ready(function () {

            // Set a Latitude and Longitude
            let vatican = new google.maps.LatLng(41.903, 12.454);

            // Configure Google Map
            let mapOptions = {
                center: vatican,
                zoom: 15,
                maxZoom: 15,
                minZoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            // Display the Google map in the prepared div container with the defined Options
            let map = new google.maps.Map(document.getElementById("mapContainer"), mapOptions);

            map.addListener('click', function (e) {
                // Get coordinates from event
                let coords = e.latLng;
                // Get placeId if a place was clicked
                let placeId = e.placeId;

                // Log coordinates in console
                console.log(`Lat: ${coords.lat()} | Lng: ${coords.lng()}`);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/standard/map/OnPostIndex', true);

                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("Lat=${coords.lat()}&Lng=${coords.lng()}");

                // Create a marker at click position
                let marker = new google.maps.Marker({
                    position: coords,
                    animation: google.maps.Animation.DROP,
                    draggable: true,
                    icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                    map: map
                });

                // Remove marker if clicked (doesn't trigger on drag)
                marker.addListener('click', function (e) {
                    marker.setMap(null);
                });

                // Pan the map to click position
                map.panTo(coords);
            });
        });
    </script>
}
