@page
@model TrinitasHunde.Pages.Admin.UsersModel
@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<h4>Admin users</h4>
<div class="container">
    @foreach (var user in Model.AdminUsers)
    {
    <div class="row" method="post">
        <p>@user.Email</p>
    </div>
    }
</div>

<h4>Standard users</h4>
<div class="container">
    @foreach (var user in Model.StandardUsers)
    {
        <div class="row" method="post">
            <p>@user.Email</p>
        </div>
    }
</div>

<h4>Pending users</h4>
<div class="container">
    @foreach (ApplicationUser user in Model.PendingUsers)
    {
        <form class="row" method="post">
            <input type="hidden" name="email" value="@user.Email" />
            <div class="col-sm-4">
                <p>@user.Email</p>
            </div>
            <div class="col-sm-4">
                <input type="submit" name="submit" value="Accept" />
            </div>
            <div class="col-sm-4">
                <input type="submit" name="submit" value="Decline" />
            </div>
        </form>
    }
</div>
